:root{
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEX COLOR TO FILTER CONVERTER */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

/* TOPO */

.navegacao{
    background-color: var(--cor-fundo);
    background-image: url(../IMG/Quadrado\ logo\ 2.svg);
    background-size: 35vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: start;
    justify-content: top;
}

.cabeca{
    background-color: var(--cinza-control);
    height: 137px;
    width: 100%;
    position: fixed;
    display: flex;
}

.nav-cabeca{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.logo-control{
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo{
    height: 100%;
    width: 100%;
}

.nav-cabeca H3{
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}