:root{
    --verde-control: #3AA867;
    --cinza-control: #33404D;
    --cor-fundo: #f9f9f9;
    --font-main: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEX COLOR TO FILTER CONVERTER */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-style: bold;
    list-style: none;
    z-index: 1000;
}

/* TOPO */



.cabeca{
    background-color: var(--cinza-control);
    height: 137px;
    width: 100%;
    position: sticky;
    display: flex;
}

.nav-cabeca{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.logo-control{
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
}

#img-logo{
    height: 100%;
    width: 100%;
}

.nav-cabeca H3{
    color: var(--cinza-control);
    width: 80%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.area-servicos{
    height: calc(100vh - 140px);
    width: 100%;
    display: flex;  
    background-image: url(..//telaautoatendimento_passcontrol-/background.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    
    
}

.selecione-servico{
    margin-top:0px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    /* background-color: aliceblue; */
    text-align: center;
    font-family: var(--font-main);
    font-weight: 800;
}

.box-servicos{
    height: 90%;
    width: 90%;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;
    /* margin-top: 50px; */
    display: flex;
    /* margin-right: 0px; */
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.area-quadrados{
    display:flex ;
    width: 70%;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 40px;
    /* background-color: aliceblue; */
    flex-direction: row;
    align-items: center;
    border: #33404D;
    border-radius: 5px 5px 5px 5px;
    /* padding: 20px; */
    
}

.quadrado{
    border: 4px solid var(--verde-control);
    position: relative;
    border-radius: 5px;
    gap: 18px;
    width: 221px;
    height: 221px;
    padding: 20px;
    background-color: transparent;
    
}

.imagem-servico{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nome-servico{
    display: flex;
    justify-content: center;

}

.btn-proximaPagina{
    background-color: transparent;
    color: var(--cinza-control);
    height: 90px;
    width: 90px;
    position: fixed;
    right: 150px;
    display: flex;   
}

